@charset "UTF-8";
#container {
  padding: 1rem;
  position: relative;
  background: gray;
}

section {
  display: block;
}

div {
  font-weight: 600;
  width: 150px;
  height: 150px;
  box-shadow: 7px 7px 0 0 black;
}

.div-1 {
  background: orange;
  position: absolute;
  /*
    absoluteは親要素に対して
    fixedはブラウザのウィンドウに対して
   */
  top: 0;
  left: 0;
  z-index: 20;
  /* z-indexが大きい方が上に来る */
}

.div-2 {
  background: tomato;
  position: relative;
  z-index: 30;
}

.div-3 {
  background: teal;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 50;
}

.div-4 {
  width: 80px;
  height: 80px;
  background: violet;
  z-index: 10;
  /* div1, 2 とは div3 の z-index 50 が比較対象 */
}

.rect {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: orangered;
  transform: translate(50px, 50px);
}
