.parent {
    color: blue;
    font-weight: 600;
}

span {
    color: purple;
}

.cls {
    color: orange;
}

#first {
    color: magenta;
}

/*
   一番上から順番に詳細度が高い
   <div class="parent">
        <span id="first" class="cls">Hello Japan</span>  .... magenta が適用
        <span>Hello Japan</span> ... purple が適用
        <span>Hello Japan</span> ... purple が適用
        <span>Hello Japan</span> ... purple が適用
    </div>
 */

.parent span {
    color: red;
}