#container {
    text-align: center;
}

.btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    margin: 50px 0;
    font-weight: 600; /* Default „ÅØ 500 */
    cursor: pointer;

    transition: color 1.0s, background-color 0.3s;
}

.btn:hover {
    background-color: black;
    color: white;
}